@model OnlineNews.Models.Customer



    <div class="form-group mb-3">
        <label asp-for="FirstNameBillingAddress" class="control-label fw-bold"></label>
        <input asp-for="FirstNameBillingAddress" class="form-control" placeholder="Enter your first name" />
        <span asp-validation-for="FirstNameBillingAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="LastNameBillingAddress" class="control-label fw-bold "></label>
        <input asp-for="LastNameBillingAddress" class="form-control" placeholder="Enter your last name" />
        <span asp-validation-for="LastNameBillingAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="FirstNameDeliveryAddress" class="control-label fw-bold"></label>
        <input asp-for="FirstNameDeliveryAddress" class="form-control" placeholder="Enter your first name" />
        <span asp-validation-for="FirstNameDeliveryAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="LastNameDeliveryAddress" class="control-label fw-bold"></label>
        <input asp-for="LastNameDeliveryAddress" class="form-control" placeholder="Enter your last name" />
        <span asp-validation-for="LastNameDeliveryAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="BillingAddress" class="control-label fw-bold"></label>
        <input asp-for="BillingAddress" class="form-control" placeholder=" Enter your billing address (e.g., 123 Main St)" />
        <span asp-validation-for="BillingAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="BillingZip" class="control-label fw-bold"></label>
        <input asp-for="BillingZip" class="form-control" placeholder=" Enter your BillingZip" />
        <span asp-validation-for="BillingZip" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="BillingCity" class="control-label fw-bold"></label>
        <input asp-for="BillingCity" class="form-control" placeholder=" Enter your BillingCity" />
        <span asp-validation-for="BillingCity" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DeliveryAddress" class="control-label fw-bold"></label>
        <input asp-for="DeliveryAddress" class="form-control" placeholder=" Enter your Delivery address (e.g., 123 Main St)" />
        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DeliverZip" class="control-label fw-bold"></label>
        <input asp-for="DeliverZip" class="form-control" placeholder="Enter your DeliverZip" />
        <span asp-validation-for="DeliverZip" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DeliverCity" class="control-label fw-bold"></label>
        <input asp-for="DeliverCity" class="form-control" placeholder="Enter your DeliverCity" />
        <span asp-validation-for="DeliverCity" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EmailAddress" class="control-label fw-bold"></label>
        <input asp-for="EmailAddress" class="form-control" placeholder="Enter your email address (e.g., example@domain.com)" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PhoneNo" class="control-label fw-bold"></label>
        <input asp-for="PhoneNo" class="form-control" placeholder=" Enter your phone number (e.g., +467****-****)" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>
   


