@model OnlineNews.Models.Database.Article


<div class="card border-white mb-1">
    <div class="card-body">
        <img src="@Model.ImageLink" class="card-img-top" style="width:270px;height:170px" />
        <h5 class="card-title">@Model.Headline</h5>
        <a  style="color:black;text-decoration-line:none" asp-action="Details" asp-controller="Article" asp-route-id="@Model.Id"><p>@Model.ContentSummary</p></a>
    </div>
</div>