html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tbMargin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30%;
    margin-left: 30%;
}
.tbn {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color:blue;
}
.tbnm {
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color: blue;
}
.img {
    margin-right: 30%;
    margin-left: 30%;
    justify-content:center;
}
.navbar .dropdown-menu {
    min-width: 200px; 
    width: auto; 
    height:440px;
    color:blue;
    text-align:center;
}
.dropdwnSearch {
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
}
.headpage {
   top:0px;
   left:0px;
   right:0px;
   height:100px;
   border-bottom:thin;
   z-index:4000;
}
.secondLine {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 16px;
    text-align : center; 
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.Likebtn{
    display:inline;
}
.card:hover{
    text-decoration:underline;
}
.icons-container {
    display: flex;
    justify-content: flex-start;
    gap: 6px; 
    flex-wrap: nowrap; 
}

.icons {
    padding: 5px 10px;
    font-size: 20px; 
    white-space: nowrap; 
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 5px 5px;
    font-size: 20px;
    font-weight:900;
}
.footer {
    clear: both;
    position:fixed;
    height: 200px;
    margin-bottom:0px;
}
.weather-widget {
    display: flex;
    align-items: center; 
    font-size: 14px; 
    color: #333; 
    background-color: #e9ecef; 
    padding: 6px 12px; 
    border-radius: 30px; 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-left: 15px; 
    max-width: 180px; 
    transition: all 0.3s ease-in-out; 
}

    .weather-widget:hover {
        background-color: #f1f1f1; 
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
        cursor: pointer;
    }

    .weather-widget img {
        width: 28px; 
        height: 28px;
        margin-right: 10px;
    }

    .weather-widget h5 {
        font-size: 14px;
        margin: 0; 
        font-weight: bold; 
    }

    .weather-widget p {
        font-size: 12px; 
        margin: 0; 
        color: #007bff; 
    }

@media (max-width: 767px) {
    .weather-widget {
        font-size: 12px; 
        padding: 5px 10px; 
        max-width: 150px; 
    }

    .weather-widget img {
            width: 22px;
            height: 22px;
    }
}

