html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tbMargin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30%;
    margin-left: 30%;
}
.tbn {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color:blue;
}
.tbnm {
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color: blue;
}
.img {
    margin-right: 50%;
    margin-left: 30%;
}


.navbar .dropdown-menu {
    min-width: 100px; 
    width: auto; 
    height:270px;
}

.dropdwnSearch {
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
}

.headpage {
   top:0px;
   left:0px;
   right:0px;
   height:100px;
   border-bottom:thin;
   z-index:4000;
}
.secondLine {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 16px;
    text-align : center; 
}
/*.footersize {
    max-width: 1280px;
    width: 100%;
    margin: 16px auto 48px;
    padding: 0px 16px;
    box-sizing: border-box;
    border-top:thick;
    justify-content:end;
}*/