html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tbMargin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30%;
    margin-left: 30%;
}
.tbn {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color:blue;
}
.tbnm {
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    color: blue;
}
.img {
    margin-right: 50%;
    margin-left: 30%;
}


.navbar .dropdown-menu {
    min-width: 100px; 
    width: auto; 
    height:270px;
}

.dropdwnSearch {
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
}

.headpage {
   top:0px;
   left:0px;
   right:0px;
   height:170px;
   border-bottom:thin;
   z-index:4000;
}
.secondLine {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 16px;
    text-align : center; 
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.Likebtn{
    display:inline;
}
.card:hover{
    text-decoration:underline;
}
.icons-container {
    display: flex;
    justify-content: flex-start; /* Align the icons to the start of the container */
    gap: 6px; /* Optional: Add space between the icons */
    flex-wrap: nowrap; /* Prevent wrapping */
}

.icons {
    padding: 5px 10px;
    font-size: 20px; /* Adjust size as needed */
    white-space: nowrap; /* Prevent text inside buttons from wrapping */
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 5px 5px;
    font-size: 20px;
    font-weight:900;
}