
@{
    ViewData["Title"] = "ArchivedArticles";
}

<h1 style="text-align:center;color:blue">Archived Articles</h1>


<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3 m-3">
                    <partial name="_EditorsPartial" model="item" />
                </div>

            }
        </div>
    </div>
</div>

