@model OnlineNews.Models.Database.Article


@{
    ViewData["Title"] = "Details";
}



<div class="row">
    <div class="col-md-10">
       
            <h1 class="row">
                @Model.Headline
            </h1>
            <div>
                <div><img src="@Model.ImageLink" /></div>
            </div>
            <div class="offset-md-9">
                <p>@Model.Content</p>
                <hr />
            </div>
    </div>
</div>





