@model OnlineNews.Models.Database.Article


@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="row">
        <h1 class="row justify-content-center">
            @Model.Headline
        </h1>
        
    </div>
    
 </div>
</div>
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <em>@Model.PublishedDate</em>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="rounded max-auto d-block img">
        <div>
            <img src="@Model.ImageLink" style="width:590px;height:300px"/>
        </div>
    </div>
  
</div>
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <p>@Model.Content</p>
    </div>
</div>

<hr />


