@model IEnumerable<OnlineNews.Models.Database.Article>

@{
    ViewData["Title"] = "Sweden";
}


<h2 style="color:blue">Sweden News</h2>

<br />
<br />
<div class="row text-center">
    <div class="col-sm-9">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3 m-3">
                    <partial name="_ArticlePartial" model="item" />
                </div>
            }
        </div>
    </div>
</div>

